/* Start of the main style */

body{
	background-image: url('img/background.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: black;
	}
	
a img {
	border: none;
	}

a:hover {
	text-decoration: underline;
	color: #ffffff;
	}

a {
	text-decoration: none;
	color: #ffffff;
	}
	
fieldset {
	border: 1px solid black;
	background-color: #486BA2;
	box-shadow: 0 0 10px #555555 inset;
	width: 95%;
	height: 100%;
	border-radius: 20px;
	margin: auto;
	}
	
legend {
	font-size: 18px;
	color: white;
	}

.page{
	background: #A0A0A0;
	border: 1px solid black;
	box-shadow:0 0 10px 5px #555555;
	font-size: 16px;
	color: black;
	text-align: right;
	width: 950px;
	height: 10px;
	position: relative;
	left: 0px;
	top: 50px;
	z-index: 0;
	}
	
/* End of the main style */

/* Start of the menu */

.menu {
	border: 0px solid black;
	background-color: #787878;
	width: 954px;
	height: 30px;
	right: 0px; /* Or -1px with 1px border */
	position: absolute;
	font-size: 16px;
	color: black;
	text-align: center;
	z-index: 1;
	}
	
#menu, #menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 21px;
	text-align: center;
	}

#menu {
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
	}

#menu a {
	display: block;
	padding: 0;
	background: #000;    
	color: #fff;
	text-decoration: none;
	width: 144px;
	}

#menu li { 
	float: left; 
	border-right: 1px solid #fff;
	}

html>body #menu li {
	border-right: 1px solid transparent ;
	}

#menu li ul{ 
	position: absolute;
	width: 144px;
	left: -999em;
	}


#menu li ul li{
	border-top: 1px solid #fff;
	}

html>body #menu li ul li {
	border-top: 1px solid transparent;
	}

#menu li ul ul {
	margin: -22px 0 0 144px;
	border-left: 1px solid #fff;  
	}

html>body #menu li ul ul {
	border-left: 1px solid transparent;
	}


#menu li:hover ul ul, #menu li.sfhover ul ul{
    left: -999em;
	}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul{
    left: auto;
    min-height: 0;
	}

#menu a {
	display: block; 
	padding: 0; 
	background: #53295B;
	color: #fff; 
	text-decoration: none; 
	width: 107px;
	border-radius: 0px;
	border: 1px solid #3F1547;
	}
	
...

#menu li ul { 
    position: absolute; 
    width: 107px;
    visibility: hidden;
	}
	
...

#menu li ul ul {
    margin: -22px 0 0 144px ; 
    border-left: 1px solid #fff ;
	}


#menu a:hover {
    color : #fff;
    background : #714779;
	border : 1px solid #fff;
	}

.menu_site {
	margin: 0 auto;
	padding: 3px;
	width: 550px;
	}

/* End of the menu */

/* Start of course list */

.courses_table {
	border: 1px solid #3F1547;
	border-collapse: collapse;
	width: 80%;
	}
	
.courses_th {
	border: 1px solid #3F1547;
	padding: 5px;
	background-color: #53295B;
	color: #ffffff;
	}
	
.courses_td {
	border: 1px solid #3F1547;
	padding: 5px;
	text-align: left;
	background-color: #714779;
	color: #ffffff;
	}

/* End of course list */